{% extends "base.html" %}

{% load static %}

{% block title %}
  Next Level Fitness
{% endblock %}

{% block content %}
  <div class="container text-center">
    <h1>Welcome To Next Level Fitness</h1>
    <p>Welcome to Next Level Fitness! We are dedicated to helping you achieve your fitness goals.</p>
    
    <img src="{% static 'images/base_image.jpg' %}" alt="Our Team" class="img-fluid img-blend">

    <button class="mt-4 mb-4 btn btn-primary">Try a Free Class</button>

    <div class="row bg-dark rounded g-3 py-4">
        <div class="col">
            <div class="card bg-dark text-white border-0 p-3">Basic Plan</div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white border-0 p-3">Standard Plan</div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white border-0 p-3">Premium Plan</div>
        </div>
    </div>
  </div>
{% endblock %}
